body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: darkcyan;
}

.stopwatch-container {
    text-align: center;
    background-color: #fff;
    padding:50px 20px;
    border-radius: 20px;
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
}

.controls button {
    font-size: 1em;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
button{
    border-radius: 20px;
}
button:hover{
    background-color: red;
}